@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
}

@font-face {
  /* primary font */
  font-family: 'SF Pro Display Bold';
  src: url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.eot');
  src: url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.svg#SF Pro Display Bold')
      format('svg');
}

@font-face {
  /* secondary font */
  font-family: 'SF Pro Display Regular';
  src: url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot');
  src: url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.svg#SF Pro Display Regular')
      format('svg');
}

/* add code here */

body {
  font-family: 'SF Pro Display Bold';
  display: flex;
  justify-content: center;
}

.img-cons {
  position: relative;
}

.image-text {
  position: absolute;
  top: 7%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 110px; 
  white-space: nowrap; 
  color: white;
}

ul {
  display: flex;
  margin-left: 100px;

}

.img-txt-img {
  display: flex;
  max-width: 500px;
  min-width: 100%;
}

.marie-container {
 display: inline-block;
 align-items: center;

}
.cole {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50%;
  
}

.cons {
  display: flex;
  flex-wrap: wrap;
}

.contains img {
  width: 90%;
}


.bot1 {
  background-color: lightblue;
  color: black;
  display: grid;
  grid-template-columns: 30px 90px;
  align-items: center;
  gap: 10px;
  padding: 10px 60px 10px 0;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  margin-bottom: 10px;
}

.bot2 {
  color: black;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 50px 80px;
  align-items: center;
  gap: 10px;
  padding: 10px 60px 10px 0;
  border-radius: 5px;
  width: 250px;
  height: 40px;
}

.iamge1 {
  width: 90px;
  height: 40px;
}
.image2 {
  width: 90px;
  height: 40px;
}


.img-btn-cons {
  position: relative;
}

.btn-container {
  position: absolute;
  top: 50%; 
  left: 90%; 
  transform: translate(-50%, -50%); 
  white-space: nowrap; 
  color: white;
}


.bot3 {
  background-color: gray;
  display: grid;
  grid-template-columns: 40px 80px;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 0;
  border-radius: 5px;
  width: 170px;
  height: 40px;

}

.bot4 {
  background-color: gray;
  display: grid;
  grid-template-columns: 40px 80px;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 0;
  border-radius: 5px;
  width: 170px;
  height: 40px;
}








 



 



 
 


